<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js" defer></script>
    <title>Vue Email List</title>
</head>
<body>
    <div id="app">
        <header>
                <h1 class="d-flex align-items-center justify-content-center h-100">Vue Email List</h1>
        </header>
        <main>
                <!-- BUTTON PER AVVIARE FUNZIONE -->

            <div class="row d-flex align-items-center justify-content-center pt-3">
                <div class="rounded-pill btn-genera" @click="callApi">Genera Email</div>
            </div>

                <!-- EMAIL CICLATE -->
                
            <ul id="contenitore-email" class="row">
                <li class="email col-3" v-if="listaEmail.length === 10" v-for="(el, index) in listaEmail">{{listaEmail[index]}}</li>
            </ul>
        </main>

        <footer>
            <div class="d-flex align-items-center h-100">
                Made By Mattia Li Causi
            </div>
        </footer>

    </div>
</body>
</html>